<form (submit)="updejtujPingvina()">
  <div class="col-md-12">
      <div class="form-group">
          <label>Ime</label>
          <input name="ime" [(ngModel)]="editovaniPingvin.ime" class="form-control" />
      </div>
      <div class="form-group">
          <label>Kilaza</label>
          <input name="kilaza" type="number" [(ngModel)]="editovaniPingvin.kilaza" class="form-control" />
      </div>
  </div>
  
  <button class="btn btn-primary" type="submit">Sacuvaj</button>
</form>
