<form (submit)="dodajPingvina()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Ime</label>
            <input name="ime" [(ngModel)]="noviPingvin.ime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Kilaza</label>
            <input name="kilaza" type="number" [(ngModel)]="noviPingvin.kilaza" class="form-control" />
        </div>
        <my-date-picker name="birthdate" [options]="mojiOptionsi"
                    [(ngModel)]="noviPingvin.birthdate" required></my-date-picker>
    </div>
    
    <button class="btn btn-primary" type="submit">Dodaj</button>
</form>
