<div class="form-group">
<label>Search:</label>
<input class="form-control" [(ngModel)]="searchString"/>
</div>
<table style="width:100%;table-layout: fixed;">
    <tr>
      <th *ngFor="let column of conf">{{column.label}}</th>
      <th></th>
    </tr>
    <tr>
      <td *ngFor="let column of conf"><input/></td>
    </tr>
    <tr *ngFor="let pingvin of model.pingvini | filterPoStringu:searchString">
      <td *ngFor="let column of conf">{{pingvin[column.key]}}</td>
      <td><button class="btn btn-danger" (click)="obrisiPingvina(pingvin.id)">X</button></td>
      <td><button class="btn btn-primary" (click)="editujPingvina(pingvin.id)">Edit</button></td>
    </tr>
</table>